.Home {
  padding-top: 5%;
  padding-left: 5%;
  margin-top: 50px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #393f4a;
}

.HomeContent {
  width: 42vw;
  background-color: #393f4a;
  font-size: calc(6px + 2vmin);
  color: #e2e0e0;
  text-align: justify;
  text-justify: inter-word;
}

.HomeContent > img {
  width: 100%;
}

.HomeCoolerImage {
  height: 80vh;
}

@media (max-width: 500px) {
  .HomeCoolerImage {
    height: 50vh;
  }
}