.MeetTheTeam {
  padding: 10% 5%;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  background-color: #444b58;
  min-height: 100%;
  color: rgb(226, 224, 224);
}

.TeamMemberCard {
  padding: 8px 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 30%;
  border-radius: 8px;
  background-color: #6d798f;
  margin-right: 12px;
  border:3px;
  border-style:solid;
  border-color: #677781;;
  border-radius: 8px;
  cursor: pointer;
}

.TeamImages {
  width: 100px;
}
