.PageHeader {
  min-height: 30px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  background: #323741;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.LogoContainer {
  width: 53vw;
  display: inline-block;
}

.LogoContainer > img {
  width: 180px;
}

.ContactUsContainer {
  width: 47vw;
  display: inline-block;
}

.ContactIconsForHeader {
  width: 25px;
  padding-right: 10px;
  display: inline-block;
}

@media (max-width: 500px) {
  .ContactIconsForHeader {
    width: 15px;
  }
  .LogoContainer > img {
    width: 150px;
  }
}