.PageHeader {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  background: #323741;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.LogoContainer {
  width: 55%;
  display: inline-block;
}

.PhoneContainer {
  width: 30%;
  display: inline-block;
  color: #1cb29f;

}

.PhoneContainer > img {
  width: 12%;
  max-height: 30px;
  padding-right: 10px;
}

.PhoneContainer > a {
  margin-bottom: 100px;
  font-size: calc(4px + 2vmin);
  color: #1cb29f;
  text-align: right;
}


.MenuContainer {
  display: inline-block;
}

.LogoContainer > img {
  width: 180px;
}

.MenuContainer > img {
  width: 30px;
}